apiVersion: v1
kind: ServiceAccount
metadata:
  name: kube-killer-operator
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kube-killer-operator
  namespace: kube-system
rules:
- apiGroups:
  - kubekiller.p-program.github.io
  resources:
  - kubekillers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - kubekiller.p-program.github.io
  resources:
  - kubekillers/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - kubekiller.p-program.github.io
  resources:
  - kubekillers/finalizers
  verbs:
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kube-killer-operator
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - configmaps
  - secrets
  - persistentvolumeclaims
  - persistentvolumes
  - namespaces
  verbs:
  - get
  - list
  - watch
  - delete
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  verbs:
  - get
  - list
  - watch
  - delete
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kube-killer-operator
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kube-killer-operator
subjects:
- kind: ServiceAccount
  name: kube-killer-operator
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kube-killer-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kube-killer-operator
subjects:
- kind: ServiceAccount
  name: kube-killer-operator
  namespace: kube-system

